/*base*/
body {
    font: 12px/1.5 Tahoma,\5b8b\4f53
}

body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,button,p,blockquote,th,td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup ,i,b{
    font-style: normal;
    font-weight: normal
}

fieldset,img {
    border: 0
}

img {
    vertical-align: top
}

ul,ol {
    list-style: none
}

input,button,select,lable {
    font: 12px Tahoma,\5b8b\4f53;
    vertical-align: middle;
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.tdn {
    text-decoration: none
}
.tdn:hover {
    text-decoration: none
}

.tdu {
    text-decoration: underline
}

.tal {
    text-align: left
}

.tar {
    text-align: right
}

.tac {
    text-align: center
}

.vam {
    vertical-align: middle
}

.vat {
    vertical-align: top
}

.vab {
    vertical-align: bottom
}

.vabl {
    vertical-align: baseline
}

.ti2e {
    text-indent: 2em
}

.ti-9 {
    text-indent: -9999px
}

.wbba {
    word-break: break-all
}

.wsn {
    white-space: nowrap
}

.fs0 {
    font-size: 0
}

.fs11 {
    font-size: 11px
}

.fs12 {
    font-size: 12px
}

.fs13 {
    font-size: 13px
}

.fs14 {
    font-size: 14px
}

.fs16 {
    font-size: 16px
}

.fs18 {
    font-size: 18px
}

.fs20 {
    font-size: 20px
}

.fs24 {
    font-size: 24px
}

.fwb {
    font-weight: bold
}

.fwn {
    font-weight: normal
}

.fsi {
    font-style: italic
}

.fsn {
    font-style: normal
}

.ffa {
    font-family: Arial
}

.fft {
    font-family: Tahoma
}

.ffs {
    font-family: \5b8b\4f53
}

.ffw {
    font-family: \5fae\8f6f\96c5\9ed1
}

.cFFF {
    color: #fff
}

.c000 {
    color: #000
}

.c333 {
    color: #333
}

.c666 {
    color: #666
}

.c999 {
    color: #999
}

.cCCC {
    color: #ccc
}

.cF00 {
    color: #f00
}

.cF30 {
    color: #f30
}

.cF60 {
    color: #f60
}

.cF90 {
    color: #f90
}

.c0F0 {
    color: #0f0
}

.c00F {
    color: #00f
}

.cFF0 {
    color: #ff0
}

.bct {
    background-color: transparent
}

.bin {
    background-image: none
}

.bgn {
    background: none
}

.bcFFF {
    background-color: #fff
}

.bc000 {
    background-color: #000
}

.bcCCC {
    background-color: #ccc
}

.bcDDD {
    background-color: #ddd
}

.bcEEE {
    background-color: #eee
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

.zi1 {
    z-index: 1
}

.zi2 {
    z-index: 2
}

.zi3 {
    z-index: 3
}

.zi999 {
    z-index: 999
}

.h0 {
    height: 0
}

.h14 {
    height: 14px
}

.h15 {
    height: 15px
}

.h16 {
    height: 16px
}

.h18 {
    height: 18px
}

.h20 {
    height: 20px
}

.h25 {
    height: 25px
}

.h1pe {
    height: 1%
}

.h100pe {
    height: 100%
}

.lh14 {
    line-height: 14px
}

.lh15 {
    line-height: 15px
}

.lh16 {
    line-height: 16px
}

.lh18 {
    line-height: 18px
}

.lh20 {
    line-height: 20px
}

.lh25 {
    line-height: 25px
}

.wa {
    width: auto
}

.w100pe {
    width: 100%
}

.fix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0
}

.fix,.zoom {
    *zoom:1
}

.cl {
    clear: left
}

.cr {
    clear: right
}

.cb {
    clear: both
}

.fr {
    float: right
}

.fl {
    float: left
}

.dn {
    display: none
}

.db {
    display: block
}

.di {
    display: inline
}

.dib {
    -moz-inline-stack: inline-block;
    display: inline-block
}

.oh {
    overflow: hidden
}

.ov {
    overflow: visible
}

.vh {
    visibility: hidden
}

.vv {
    visibility: visible
}

.ma {
    margin-left: auto;
    margin-right: auto
}

.m0 {
    margin: 0
}

.mt-1 {
    margin-top: -1px
}

.ml-1 {
    margin-left: -1px
}

.mt-2 {
    margin-top: -2px
}

.ml-2 {
    margin-left: -2px
}

.mt-3 {
    margin-top: -3px
}

.ml-3 {
    margin-left: -3px
}

.ml1 {
    margin-left: 1px
}

.mt1 {
    margin-top: 1px
}

.mr1 {
    margin-right: 1px
}

.mb1 {
    margin-bottom: 1px
}

.m2 {
    margin: 2px
}

.ml2 {
    margin-left: 2px
}

.mt2 {
    margin-top: 2px
}

.mr2 {
    margin-right: 2px
}

.mb2 {
    margin-bottom: 2px
}

.m3 {
    margin: 3px
}

.ml3 {
    margin-left: 3px
}

.mt3 {
    margin-top: 3px
}

.mr3 {
    margin-right: 3px
}

.mb3 {
    margin-bottom: 3px
}

.m4 {
    margin: 4px
}

.ml4 {
    margin-left: 4px
}

.mt4 {
    margin-top: 4px
}

.mr4 {
    margin-right: 4px
}

.mb4 {
    margin-bottom: 4px
}

.m5 {
    margin: 5px
}

.ml5 {
    margin-left: 5px
}

.mt5 {
    margin-top: 5px
}

.mr5 {
    margin-right: 5px
}

.mb5 {
    margin-bottom: 5px
}

.m10 {
    margin: 10px
}

.ml10 {
    margin-left: 10px
}

.mr10 {
    margin-right: 10px
}

.mt10 {
    margin-top: 10px
}

.mb10 {
    margin-bottom: 10px
}

.m15 {
    margin: 15px
}

.ml15 {
    margin-left: 15px
}

.mt15 {
    margin-top: 15px
}

.mr15 {
    margin-right: 15px
}

.mb15 {
    margin-bottom: 15px
}

.m20 {
    margin: 20px
}

.ml20 {
    margin-left: 20px
}

.mt20 {
    margin-top: 20px
}

.mr20 {
    margin-right: 20px
}

.mb20 {
    margin-bottom: 20px
}

.m25 {
    margin: 25px
}

.ml25 {
    margin-left: 25px
}

.mt25 {
    margin-top: 25px
}

.mr25 {
    margin-right: 25px
}

.mb25 {
    margin-bottom: 25px
}

.p0 {
    padding: 0
}

.p1 {
    padding: 1px
}

.pl1 {
    padding-left: 1px
}

.pt1 {
    padding-top: 1px
}

.pr1 {
    padding-right: 1px
}

.pb1 {
    padding-bottom: 1px
}

.p2 {
    padding: 2px
}

.pl2 {
    padding-left: 2px
}

.pt2 {
    padding-top: 2px
}

.pr2 {
    padding-right: 2px
}

.pb2 {
    padding-bottom: 2px
}

.p3 {
    padding: 3px
}

.pl3 {
    padding-left: 3px
}

.pt3 {
    padding-top: 3px
}

.pr3 {
    padding-right: 3px
}

.pb3 {
    padding-bottom: 3px
}

.p4 {
    padding: 4px
}

.pl4 {
    padding-left: 4px
}

.pt4 {
    padding-top: 4px
}

.pr4 {
    padding-right: 4px
}

.pb4 {
    padding-bottom: 4px
}

.p5 {
    padding: 5px
}

.pl5 {
    padding-left: 5px
}

.pt5 {
    padding-top: 5px
}

.pr5 {
    padding-right: 5px
}

.pb5 {
    padding-bottom: 5px
}

.p10 {
    padding: 10px
}

.pl10 {
    padding-left: 10px
}

.pt10 {
    padding-top: 10px
}

.pr10 {
    padding-right: 10px
}

.pb10 {
    padding-bottom: 10px
}

.p15 {
    padding: 15px
}

.pl15 {
    padding-left: 15px
}

.pt15 {
    padding-top: 15px
}

.pr15 {
    padding-right: 15px
}

.pb15 {
    padding-bottom: 15px
}

.p20 {
    padding: 20px
}

.pl20 {
    padding-left: 20px
}

.pt20 {
    padding-top: 20px
}

.pr20 {
    padding-right: 20px
}

.pb20 {
    padding-bottom: 20px
}

.pl25 {
    padding-left: 25px
}

.pt25 {
    padding-top: 25px
}

.pr25 {
    padding-right: 25px
}

.pb25 {
    padding-bottom: 25px
}

.bn {
    border: none!important
}

.btn {
    border-top: none!important
}

.bln {
    border-left: none
}

.brn {
    border-right: none
}

.bbn {
    border-bottom: none!important
}

.b1s000 {
    border: 1px solid #000
}

.b1sCCC {
    border: 1px solid #ccc
}

.b1sDDD {
    border: 1px solid #ddd
}

.b1sEEE {
    border: 1px solid #eee
}

.b1sFFF {
    border: 1px solid #fff
}

.cp {
    cursor: pointer
}

.cd {
    cursor: default
}

hr {
    height: 0;
    font-size: 0;
    color: #fff;
    overflow: hidden;
    border: 0 none;
    width: 100%;
    display: block;
    clear: both;
    *float: left;
    *margin-bottom: -15px
}

.line,.dashed,.dotted {
    border-top: 1px solid #ccc
}

.dashed {
    border-top-style: dashed
}

.dotted {
    border-top-style: dotted
}

.h1 {
    height: 1px
}

.h2 {
    height: 2px
}

.h3 {
    height: 3px
}

.h4 {
    height: 4px
}

.h5 {
    height: 5px
}

.h10 {
    height: 10px
}

.h15 {
    height: 15px
}

.h20 {
    height: 20px
}

.h25 {
    height: 25px
}

.ell {
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
.pr{
    position:relative;
}